* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}
.location, .temperature {
    height: 30vh;
    width: 50%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.location-area, .location-country{
    border: 2px outset none;
    border-radius: 10%;
    background-color: grey;
    padding: 15px;
}
#weather-icon {
    border: 2px outset none;
    border-radius: 10%;
    background-color: rgb(80, 131, 125);
}
.temperature {
    flex-direction: column;
    margin-bottom: 2%;
}
.degree-section:hover, .temperature-description:hover{
    background-color: rgb(51, 39, 39);
}
.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree-section span {
    margin: 10px;
    font-size: 30px;
}
.degree-section h2 {
    font-size: 40px;
}
#map {
    position: absolute;
    left: 25px;
    bottom: 25px;
    height: 32vh;
    width: 25vw;
    border: 2px dotted black;
}

